# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache


*.json
*.srt
*.tsv
*.vtt
*.pdf

!rokos-basilisk-standard-galactic.pdf
!rokos-basilisk-cursive-galactic.pdf


!cuban-spanish.pdf
!psychocinema.pdf
